#Gradle
.gradle/
build/
out/

# Maven
target/

# Eclipse
.project
.classpath
.settings
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws
.fleet/

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath
bin/

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej
