Source: symly
Section: base
Priority: optional
Build-Depends: debhelper (>= 9), build-essential, libz-dev, zlib1g-dev
Maintainer: loic.rouchon@gmail.com
Homepage: https://github.com/loicrouchon/symly

Package: symly
Section: base
Priority: optional
Architecture: amd64
Description: Manages symbolic links.
